flake8==6.0.0
black==23.3.0
mypy==0.971
isort==5.12.0
types-requests==0.1.9
types-setuptools==57.4.3
types-psutil==5.8.0
grpcio-tools==1.43.0
types-dataclasses==0.6.6
backoff-stubs~=1.10
pytest~=7.0.1
types-beautifulsoup4==4.11.1
