flake8==5.0.4
black==22.10.0
mypy==0.990
isort==5.10.1
types-requests==0.1.9
types-setuptools==57.4.3
types-psutil==5.8.0
grpcio-tools==1.43.0
types-dataclasses==0.6.4
backoff-stubs~=1.10
pytest~=7.0.1
